*.svg
*.html
*.css
*.graphql
*.md
*.json
*.toml
*.lock
*.crt
*.key
.editorconfig
.eslintignore
.eslintrc
.gitignore
.lintstagedrc
.prettierrc
.prettierignore
tsup.config.ts

dist/
assets/
node_modules/
test/
preview/