# Ignore dependecines
node_modules/

# Ignore the source directories
src/
preview/
tests/
assets/

# Ignore any other files that should not be published
.git/
.DS_Store
.github

# Ignore configuration files
.editorconfig
.eslintignore
.eslintrc
.prettierignore
.prettierrc
jest.config.json
tsconfig.json
tsup.config.ts
