# Ignore dependecines
node_modules/

# Ignore the source directories
src/
preview/

# Ignore test files
test/
*.spec.ts
*.test.ts

# Ignore any other files that should not be published
.git/
.DS_Store

# Ignore configuration files
tsconfig.json
tsup.config.ts